body {
  background: rgb(18, 18, 18);
  color: white;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

a {
  color: white;
}

img {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 38px);
}

* {
  box-sizing: border-box;
}
